<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Example Component</div>

                    <div class="card-body">
                        I'm an example component.
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            Echo.channel('market.ads')
                .listen('\\App\\Events\\Ad\\AdPlaced', (ad) => {
                    console.log('market.ads', ad);
                })
                .listen('\\App\\Events\\Ad\\AdActivated', (ad) => {
                    console.log('market.ads', 'Activated ' + ad.data.id, ad  );
                })
                .listen('\\App\\Events\\Ad\\AdDeactivated', (ad) => {
                    console.log('market.ads', 'Deactivated ' + ad.data.id, ad  );
                })
                .listen('\\App\\Events\\Ad\\AdLimitChanged', (ad) => {
                    console.log('market.ads', 'LimitChanged ' + ad.data.id, ad );
                })
                .listen('\\App\\Events\\Ad\\AdPriceChanged', (ad) => {
                    console.log('market.ads', 'PriceChanged ' + ad.data.id, ad  );
                });
            //
            Echo.channel('market.ads.143')
                .listen('\\App\\Events\\Ad\\AdDeactivated', (ad) => {
                    console.log('market.ads.1', 'Deactivated ' + ad.data.id, ad  );
                })
                .listen('\\App\\Events\\Ad\\AdActivated', (ad) => {
                    console.log('market.ads.1', 'Activated ' + ad.data.id, ad  );
                })
                .listen('\\App\\Events\\Ad\\AdLimitChanged', (ad) => {
                    console.log('market.ads.1', 'LimitChanged ' + ad.data.id, ad );
                })
                .listen('\\App\\Events\\Ad\\AdPriceChanged', (ad) => {
                    console.log('market.ads.1', 'PriceChanged ' + ad.data.id, ad  );
                });
            //
            // Echo.private('ads')
            //     .listen('\\App\\Events\\Ad\\AdPlaced', (ad) => {
            //         console.log( 'ads', ad);
            //     })
            //     .listen('\\App\\Events\\Ad\\Activated', (ad) => {
            //         console.log('ads', 'Activated ' + ad.data.id, ad  );
            //     })
            //     .listen('\\App\\Events\\Ad\\AdDeactivated', (ad) => {
            //         console.log('ads', 'Deactivated ' + ad.data.id, ad  );
            //     })
            //     .listen('\\App\\Events\\Ad\\AdLimitChanged', (ad) => {
            //         console.log('ads', 'LimitChanged ' + ad.data.id, ad );
            //     })
            //     .listen('\\App\\Events\\Ad\\AdPriceChanged', (ad) => {
            //         console.log('ads', 'PriceChanged ' + ad.data.id, ad  );
            //     });

            Echo.private('ads.143')
                .listen('\\App\\Events\\Ad\\AdActivated', (ad) => {
                    console.log('ads.1', 'Activated ' + ad.data.id, ad  );
                })
                .listen('\\App\\Events\\Ad\\AdDeactivated', (ad) => {
                    console.log('ads.1', 'Deactivated ' + ad.data.id, ad  );
                })
                .listen('\\App\\Events\\Ad\\AdLimitChanged', (ad) => {
                    console.log('ads.1', 'LimitChanged ' + ad.data.id, ad  );
                })
                .listen('\\App\\Events\\Ad\\AdPriceChanged', (ad) => {
                    console.log('ads.1', 'PriceChanged ' + ad.data.id, ad  );
                });

            Echo.private('ads.1.deals')
                .listen('\\App\\Events\\Deal\\DealPlaced', (response) => {
                    console.log( 'ads.1.deals', response);
                });

            Echo.private('deals.1')
                .listen('\\App\\Events\\Deal\\DealCanceled', (response) => {
                    console.log( 'deals.1 Canceled', response);
                })
                .listen('\\App\\Events\\Deal\\DealDisputed', (response) => {
                    console.log( 'deals.1 Disputed', response);
                })
                .listen('\\App\\Events\\Deal\\DealFinished', (response) => {
                    console.log( 'deals.1 Finished', response);
                })
                .listen('\\App\\Events\\Deal\\DealPaid', (response) => {
                    console.log( 'deals.1 Paid', response);
                });

            Echo.private('chat.1')
                .listen('\\App\\Events\\Chat\\MessagePlaced', (response) => {
                    console.log( 'chat.1', response);
                });

            Echo.private('balance.total_fiat_amount')
                .listen('\\App\\Events\\Balance\\TotalFiatAmountChanged', (amount) => {
                    console.log( 'balance.total_fiat_amount', amount);
                });

            Echo.private('balance.crypto_amount')
                .listen('\\App\\Events\\Balance\\CryptoAmountChanged', (amount) => {
                    console.log( 'balance.total_fiat_amount', amount);
                });
        }
    }
</script>
